<%= fields_for(post) do |f| %>
  <div class="data">
    <h1>Dados do anunciante</h1>
    <div class="content">
      <hr>
      <label>Nome do responsável pelo anúncio</label>
      <div class="field">
        <span class="responsavel"></span>
        <%= f.text_field :contractor_person_name %>
      </div>
      <hr>
      <label>Nome da empresa anunciante</label>
      <div class="field">
        <span class="empresa"></span>
        <%= f.text_field :contractor_company_name %>
      </div>
      <hr>
      <label>Endereço da empresa</label>
      <div class="field">
        <span class="endereco"></span>
        <%= f.text_field :contractor_address %>
      </div>
      <hr>
      <label>E-mail da empresa para contato</label>
      <div class="field">
        <span class="email"></span>
        <%= f.text_field :contractor_mail_address %>
      </div>
      <hr>
      <label>Telefone da empresa para contato</label>
      <div class="field">
        <span class="tel"></span>
        <%= f.text_field :contractor_phone_number %>
      </div>
        <div class="info_f">
  <p>Seu anúncio ficará disponível por no mínimo 30 dias a contar da data de publicação.</p><br>
  <p>A publicação ocorre após um período de avaliação de no máximo 7 dias úteis. Caso seu anúncio não seja publicado dentro do período informado favor entrar em contato pelo e-mail <%= mail_to 'shigotodoko@gmail.com' %></p>
      </div>
      <div class="buttons">
        <%= f.submit "Publicar!" %>
      </div>
    </div><! -- /content -->
  </div><!-- /data -->
<% end %>
