<%= fields_for(post) do |f| %>
  <div class="data">
    <h1>Informações sobre a vaga</h1>
    <div class="content">
    <hr>
    <label>Titulo da vaga</label>
    <div class="field">
      <span class="servico"></span>
      <%= f.text_field :title, placeholder: 'Exemplo: Auto-peças' %>
    </div>
    <hr>
    <label>Local de trabalho</label>
    <div class="field">
      <span class="local"></span>
      <%= f.text_field :location, placeholder: 'Exemplo: Aichi-ken, Toyohashi-shi' %>
    </div>
    <hr>
    <label>Descreva o trabalho a ser realizado</label>
    <div class="textarea">
      <%= f.text_area :description, placeholder: "Máximo 400 caracteres." %>
    </div>
    <hr>
    <label>Remuneração/Hora</label>
    <div class="field">
      <span class="remuneracao"></span>
      <%= f.text_field :salary, placeholder: 'Exemplo: 1.200 ienes/hora' %>
    </div>
    <hr>
    <label>Período/Turno</label>
    <div class="field">
      <span class="periodo"></span>
      <%= f.text_field :shift, placeholder: 'Exemplo: Diurno ou Noturno' %>
    </div>
    <hr>
    <label>Horário de Trabalho</label>
    <div class="field">
      <span class="horario"></span>
      <%= f.text_field :work_load, placeholder: 'Exemplo: das 08:00 às 17:00' %>
    </div>
    <hr>
    <label>Dias de folga</label>
    <div class="field">
      <span class="folgas"></span>
      <%= f.text_field :day_off, placeholder: 'Sábados e domingos' %>
    </div>
    <hr>
    <label>Requisitos</label>
    <div class="textarea">
      <%= f.text_area :requirements, placeholder: "Máximo 400 caracteres." %>
    </div>
    <hr>
    <label>Benefícios</label>
    <div class="textarea">
      <%= f.text_area :benefits, placeholder: "Máximo 400 caracteres." %>
    </div>
  </div>
</div>
<% end %>
