<%= form_for([:admin, @contractor], class: "col s12") do |f|  %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name, class: "validate" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="input-field col s12">
      <%= f.label :address, class: "validate" %>
      <%= f.text_field :address, required: true %>
    </div>
    <div class="input-field col s12">
      <%= f.label :info, class: "validate" %>
      <%= f.text_field :info, required: true %>
    </div>
    <div class="input-field col s12">
      <%= f.label :phone_number, class: "validate" %>
      <%= f.text_field :phone_number, required: true %>
    </div>
    <div class="input-field col s12">
      <%= f.label :mail_address, class: "validate" %>
      <%= f.text_field :mail_address, required: true %>
    </div>
    <div class="card-action">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
