<table>
  <thead>
    <tr>
      <th data-field="name">Nome</th>
      <th data-field="address">Endereço</th>
      <th data-field="total-posts">Total de anúncios</th>
      <th data-field="last-post">Último anúncio</th>
    </tr>
  </thead>

  <tbody>
    <% @contractors.each do |contractor| %>
      <tr>
        <td><%= link_to(contractor.name, admin_contractor_path(contractor)) %></td>
        <td><%= contractor.address %></td>
        <td><%= contractor.total_posts %></td>
        <td><%= last_post_created(contractor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@contractors, admin: true) %>
