  <div class="col s12 m6">
  <div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <%= link_to(
          content_tag(:i, "mode_edit", class: "material-icons left"),
          edit_admin_contractor_path(@contractor),
          class: "waves-effect waves-light btn-large"
        )
    %>
    <h3><%= @contractor.name %></h3>
    <address><%= @contractor.address %></address>
    <p><%= simple_format(@contractor.info) %></p>
  </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <%= image_tag("contacts_header.jpg") %>
        <span class="card-title">Contatos</span>

        <%= link_to(
          content_tag(:i, "add", :class => "material-icons"), new_admin_contractor_contact_path(@contractor), class: "btn-floating halfway-fab waves-effect waves-light red"
        ) %>
      </div>
      <div class="card-content">
    <table>
      <thead>
        <tr>
          <th data-field="id">#</th>
          <th data-field="name">Nome</th>
          <th data-field="email">Email</th>
          <th data-field="phone">Telefone</th>
          <th data-field="updated_at">Últ. atualização</th>
        </tr>
      </thead>

      <tbody>
        <% unless @contacts.any? %>
          <tr>
            <td colspan="5">Nenhum contato cadastrado.</td>
          </tr>
        <% end %>

        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= link_to(contact.name, edit_admin_contractor_contact_path(@contractor, contact)) %></td>
            <td><%= contact.mail_address %></td>
            <td><%= contact.phone_number %></td>
            <td><%= I18n.l(contact.updated_at, format: "%d/%m/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      </div>
    </div>
  </div>
</div>

<%= render '/admin/posts/posts_table', posts: @contractor_posts %>

