<div class="card-panel hoverable">
  <div class="card-content">
    <h4>Anúncios</h4>
    <%= will_paginate(posts, admin: true) %>

    <table>
      <thead>
        <tr>
          <th data-field="title">Título</th>
          <th data-field="region">Região</th>
          <th data-field="company_name">Anunciante</th>
          <th data-field="created_at">Criado em</th>
          <th data-field="status"></th>
        </tr>
      </thead>

      <tbody>
        <% posts.each do |post| %>
          <tr>
            <td><%= link_to title(post.title), admin_post_path(post) %></td>
            <td><%= location(post.location) %></td>
            <td><%= contractor_name(post) %></td>
            <td><%= I18n.l(post.created_at, format: "%d/%m/%Y") %></td>
            <td><%= status(post) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate(posts, admin: true) %>

  </div>
</div>
