<div class="row">
  <h3><%= status(@post) %></h3>
  <%= form_for([:admin, @post], class: "col s12") do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :title, class: "validate" %>
        <%= f.text_field :title, value: @post.title, required: true %>
      </div>
      <div class="input-field col s6">
        <%= f.label :location, class: "validate" %>
        <%= f.text_field :location, value: @post.location, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :description, class: "validate" %>
        <%= f.text_area :description, value: @post.description, class: "materialize-textarea", required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :requirements, class: "validate" %>
        <%= f.text_area :requirements, value: @post.requirements, class: "materialize-textarea" %>
      </div>
      <div class="input-field col s12">
        <%= f.label :benefits, class: "validate" %>
        <%= f.text_area :benefits, value: @post.benefits, class: "materialize-textarea" %>
      </div>
      <div class="input-field col s12">
        <%= f.label :salary, class: "validate" %>
        <%= f.text_field :salary, value: @post.salary, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :shift, class: "validate" %>
        <%= f.text_field :shift, value: @post.shift, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :day_off, class: "validate" %>
        <%= f.text_field :day_off, value: @post.day_off, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :work_load, class: "validate" %>
        <%= f.text_field :work_load, value: @post.work_load, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.label :notes, class: "validate" %>
        <%= f.text_area :notes, value: @post.notes, class: "materialize-textarea" %>
      </div>
      <div class="input-field col s12">
        <%= f.select :contractor_id, contractor_list %>
        <%= f.label :contractor_id, class: "validate" %>
      </div>
    </div>
    <div class="card-action">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  <% end %>
</div>
