<% flash.each do |name, msg| %>
  <div id="card-alert" class="card green">
    <div class="card-content white-text">
      <p><i class="mdi-navigation-check"></i><%= msg %></p>
    </div>
  </div>
<% end %>

<div class="card-panel hoverable">
  <div class="card-content">
    <h3><%= status(@post) %></h3>
    <h2><%= @post.title %></h2>
    <p><%= @post.location %></p>
    <h5>Descrição</h5>
    <p><%= simple_format(@post.description) %></p>
    <h5>Requisitos</h5>
    <p><%= simple_format(@post.requirements) %></p>
    <h5>Benefícios</h5>
    <p><%= simple_format(@post.benefits) %></p>
    <h5>Salário</h5>
    <p><%= @post.salary %></p>
    <h5>Turno</h5>
    <p><%= @post.shift %></p>
    <h5>Folga</h5>
    <p><%= @post.day_off %></p>
    <h5>Horário de trabalho</h5>
    <p><%= @post.work_load %></p>
    <h5>Notas adicionais</h5>
    <p><%= simple_format(@post.notes) %></p>
    <h5><%= contractor_name(@post) %></h5>
  </div>
  <div class="card-action">
    <%= link_to "Editar", edit_admin_post_url(@post), class: "waves-effect waves-light btn" %>
    <%= link_to "Publicar", publish_admin_post_url(@post), method: "put", class: "waves-effect waves-light btn" %>
    <%= link_to "Arquivar", archive_admin_post_url(@post), method: "put", class: "waves-effect waves-light btn" %>
  </div>
</div>
