<div class="login-form">
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p>email</p>
  <%= f.email_field :email, autofocus: true, required: true %>

  <p>password</p>
  <%= f.password_field :password, autocomplete: "off", required: true %>

  <% if devise_mapping.rememberable? -%>
    <p>Remember Password</p>
    <%= f.check_box :remember_me %>
  <% end -%>

    <%= f.submit "Log in" %>
<% end %>
</div>
