<div class="adsense">
  <h1>Publicidade</h1>
  <div class="adsense_main_jobs_sidebar">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- (new) 336x280 main jobs - sidebar -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:336px;height:280px"
      data-ad-client="ca-pub-1679261120441100"
      data-ad-slot="8362671732"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div><!-- /adsense -->
