<div class="social_fb_likebox">
  <div class="fb-like-box" data-href="https://www.facebook.com/shigotodoko" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
</div>
