<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'pt-BR'}
</script>

<!-- Place this tag where you want the widget to render. -->
<div class='social_g-page'>
  <div class="g-page" data-href="//plus.google.com/u/0/111043374287269601303" data-layout="landscape" data-rel="publisher"></div>
</div>
