<!-- header adsense -->
<div class="adsense_main_jobs_header">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- (new) 728x90 main jobs - header -->
  <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-1679261120441100"
    data-ad-slot="4600877081"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<!-- /header adsense -->

<div class="ct_left">
  <%= render 'posts' %>
</div><!-- /ct_left -->

<div class="ct_right">
  <%= render partial: 'layouts/ct_right' %>

  <div class="adsense_main_jobs_sidebar">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- (new) 336x280 main jobs - sidebar -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:336px;height:280px"
      data-ad-client="ca-pub-1679261120441100"
      data-ad-slot="8362671732"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div><!-- /adsense -->

  <div class="social_twitter_follow">
    <a href="https://twitter.com/shigotodoko" class="twitter-follow-button" data-show-count="true" data-show-screen-name="true" data-lang="pt" data-size="large">Seguir @Shigotodoko</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="social_fb_likebox">
    <div class="fb-like-box" data-href="https://www.facebook.com/shigotodoko" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
  </div>

</div><!-- /ct_right -->
