<section class="partners">
  <h2><a href='http://www.japaoemfoco.com/como-receber-o-reembolso-da-aposentadoria-no-brasil/' title='Saiba como receber o reembolso da aposentadoria no Brasil' target='_blank'>Saiba como receber o reembolso da aposentadoria no Brasil</a></h2>
  <p>parceiro:<a href='http://japaoemfoco.com' title='parceiro: japaoemfoco.com' target='_blank'> japaoemfoco.com</a></p>
</section>

<section class='announcements'>
  <p>Você tem um site ou um blog e gostaria de ser nosso parceiro de conteúdo?</p>
  <p>Entre em contato conosco: <%=mail_to('shigotodoko@gmail.com')%></p>
</section>
