<div class="item">
  <h1><%= link_to(post.title, post_path(post)) %></h1>

  <div class="int">
    <span><strong><%= post.contractor.name %></strong> - <%= post.location %></span>
    <p><%= resume(post.description) %></p>
    <p class='published_date'>Publicado há <%= time_ago_in_words(post.published_at) %> atrás</p>
    <div class="social_tags">
      <div class="fb">
        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.shigotodoko.com/posts/<%= post.id %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=80&amp;appId=451607958239374" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
      </div>

      <div class="tt">
        <a href="https://twitter.com/share"
          class="twitter-share-button"
          data-related="klebershimabuku"
          data-via="shigotodoko"
          data-lang="pt_BR"
          data-count="horizontal"
          data-text="<%= post.title %>"
          data-url="http://www.shigotodoko.com<%= url_for(post) %>">
          Tweet
        </a>
      </div>

      <%= visit(post) %>
      <% post.tags.each do |tag| %>
        <%= link_to tag, posts_tag_filter_path(tag.name), class: 'tag' %>
    <% end %>
    </div>
  </div>
</div>
