<div class="social_twitter_follow">
  <a href="https://twitter.com/shigotodoko" class="twitter-follow-button" data-show-count="true" data-show-screen-name="true" data-lang="pt" data-size="large">Seguir @Shigotodoko</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
