<div class="section1">
    <div class="ct">
        <div class="base">
            <div id="parallax">
                <span class="logo"></span>
                <div class="container">
                    <div class="ct_left">
                        <div id="scroller">
                        <div class="item">
                            <h1>Atendente de loja<span><strong>2 min</strong> atrás</span></h1>
                            <div class="int">
                                <span><strong>Ginza Mitsukoshi</strong> - Shizuoka</span>
                                <p>Atiam facilisis eleifend quam in molestie. Curabitur feugiat non risus vitae dapibus. Suspendisse nisi augue, consequat quis tortor ac, condimentum aliquam nunc.</p>
                                <div class="social_tags">
                                    <a class="fb"></a>
                                    <a class="gp"></a>
                                    <a class="tt"></a>
                                    <a class="view"><label>ver anuncio</label></a>
                                    <label>moda</label>
                                    <label>shizuoka</label>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h1>Atendente de loja<span><strong>2 min</strong> atrás</span></h1>
                            <div class="int">
                                <span><strong>Versace</strong> - Shizuoka</span>
                                <p>Atiam facilisis eleifend quam in molestie. Curabitur feugiat non risus vitae dapibus. Suspendisse nisi augue, consequat quis tortor ac, condimentum aliquam nunc.</p>
                                <div class="social_tags">
                                    <a class="fb"></a>
                                    <a class="gp"></a>
                                    <a class="tt"></a>
                                    <a class="view"><label>ver anuncio</label></a>
                                    <label>moda</label>
                                    <label>shizuoka</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="section2">
    <div class="ct">
        <div class="text">
            <h1>Sobre</h1>
            <p>
                Qui an minim iudicem, ab fore ea dolore, se mandaremus voluptatibus iis vidisse 
                imitarentur ne laborum. Singulis nisi varias probant fore, ita noster 
                cohaerescant. Cillum occaecat an deserunt. Eu labore laborum cohaerescant. Do 
                non aliqua iudicem de arbitror anim culpa aliquip magna. Sint probant 
                tractavissent, eiusmod sunt expetendis et aut illum sint elit excepteur ita amet 
                expetendis mandaremus. Aliqua laborum exercitation et ipsum ita occaecat ad 
                culpa ingeniis id summis fugia.<br>
                Nulla a te lorem nostrud. Nostrud 
                a fugiat laboris, o velit quae summis mandaremus, hic ita nulla magna quem an 
                magna ingeniis id summis fugiat. Enim fabulas cernantur.
            </p>
        </div>
        <div class="img">
            <%= image_tag("sobre_ilustra.png") %>
        </div>
    </div>
</div>

<div class="section3">
    <div class="ct">
        <h1>Anunciantes</h1>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        
        <table>
            <tr>
                <td>
                    <%= image_tag("exemplo1.jpg") %>
                </td>
                <td>
                    <strong>Azuma:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </td>
            </tr>
            <tr><td colspan="2"><br></td></tr>
            <tr>
                <td>
                    <%= image_tag("exemplo2.jpg") %>
                </td>
                <td>
                    <strong>Toyota:</strong> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </td>
            </tr>
            <tr><td colspan="2"><br></td></tr>
            <tr>
                <td>
                    <%= image_tag("exemplo3.jpg") %>
                </td>
                <td>
                    <strong>Tomato Bank:</strong> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="section4">
    <div class="ct">
        <div class="text">
            <h1>Como Anunciar</h1>
            <p>
                Qui an minim iudicem, ab fore ea dolore, se mandaremus voluptatibus iis vidisse 
                imitarentur ne laborum. Singulis nisi varias probant fore, ita noster 
                cohaerescant. Cillum occaecat an deserunt.<br><br> Eu labore laborum cohaerescant. Do 
                non aliqua iudicem de arbitror anim culpa aliquip magna. Sint probant 
                tractavissent, eiusmod sunt expetendis et aut illum sint elit excepteur ita amet 
                expetendis mandaremus. Aliqua laborum exercitation et ipsum ita occaecat ad 
                culpa ingeniis id summis fugia.<br>
                Nulla a te lorem nostrud. Nostrud 
                a fugiat laboris, o velit quae summis mandaremus, hic ita nulla magna quem an 
                magna ingeniis id summis fugiat. Enim fabulas cernantur.
            </p>
        </div>
        <div class="img">
            <%= image_tag("como_ilustra.png") %>
        </div>
    </div>
</div>
