<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'admin' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "Nova", new_admin_contractor_path %></li>
    <li><%= link_to "Lista", admin_contractors_path %></li>
  </ul>
    <nav class="indigo darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><%= link_to 'Admin', admin_posts_path %></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Anúncios", admin_posts_path %></li>
          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">Empresas<i class="material-icons right">arrow_drop_down</i></a>
          </li>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>


    <div class="container">
      <div class="section">
        <%= yield %>
      </div>
    </div>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5 class="white-text">Anúncios</h5>
            <ul>
              <li><%= link_to "Todos os anúncios", admin_posts_path, class: "white-text" %></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Site</h5>
            <ul>
              <li><a class="white-text" href="https://www.shigotodoko.com">Ir para o site</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </body>
</html>
