<!DOCTYPE html>
<html lang='pt-br'>
  <head>
    <meta charset='utf-8'>
    <title>ShigotoDoko Administration</title>
    <link href="//fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag("sessions") %>
  </head>
  <body>
    <div class="container">
      <h1>ShigotoDoko Site Administration</h1>
      <%= yield %>
    </div>
  </body>
</html>
